@import "tailwindcss";

@theme {
  --color-my-primary: #B3001B;         
  --color-my-primary-dark: #800014;    
  --color-my-background: #121212;      
  --color-my-surface: #1E1E1E;         
  --color-my-text: #FFFFFF;            
  --color-my-text-muted: #CCCCCC;      
  --color-my-accent: #FF4D4D;           
  --color-my-success: #00B894;         
  --color-my-danger: #FF3B3B;     
  --color-my-border: #2A2A2A;          
}

:root{
  --swiper-navigation-color:   #B3001B;
  --swiper-pagination-color: #800014; 
}

body {
  background-color: var(--color-my-background);
  color: var(--color-my-text);
}
